
.sortone-ui-dropdown-parent {
    position: relative;
}

.sortone-ui-dropdown {
    position: absolute;
    right: 0px;
    bottom: 0px;

    padding: 24px;
}

.sortone-ui-selectmenu {
    min-width: 198px;
}

.sortone-ui-selectmenu > .goog-menuitem:hover {
    background-color: #e2f2fe;
}
