.sortone-ui-dropdown-parent {
    position: relative;
    min-height: 100px;
}

.sortone-ui-dropdown {
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 24px;
}

.sortone-ui-select-menu {
    overflow: hidden;
    text-align: center;

    min-width: 180px;
}

.sortone-ui-select-menu select {
	width: 100%;
    padding-right: 1em;
    padding: 8px 38px 8px 8px;
	text-indent: 0.01px;
    text-overflow: ellipsis;
    color: #666666;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.sortone-ui-select-menu select::-ms-expand {
    display: none;
}

.sortone-ui-select-menu {
	position: relative;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	background: #ffffff;
}

.sortone-ui-select-menu::before {
	position: absolute;
	top: 16px;
	right: 14px;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666666;
	pointer-events: none;
}
